/* Will be compiled down to a single stylesheet with your sass files */
.course-tree {
	float: left;
	width: 30%;
}

.item-content, .item-title {
	margin-left: 35%;
}

.selected > a {
	background-color: yellow;
}

.navbar-inner .pull-right {
	margin-top: 6px;
}
